{
  BasedOnStyle: Google,

  ColumnLimit: 100,
  ReflowComments: false,

  IndentWidth: 2,
  NamespaceIndentation: All,
  IndentAccessModifiers: true,

  AlignConsecutiveDeclarations: Consecutive,
  AlignConsecutiveAssignments: Consecutive,
  AlignAfterOpenBracket: Align,
  AlignTrailingComments: true,

  AllowShortIfStatementsOnASingleLine: false,
  AllowShortLoopsOnASingleLine: false,

  SpaceInEmptyParentheses: true,
  SpaceInEmptyBlock: true,

  BreakInheritanceList: BeforeColon,

  FixNamespaceComments: false,
}
